:root {
  --gradient-color: #121212;
}

// a component itself
recent-posts {
  display: none;
  //opacity: 0;

  &[visible] {
    display: block;
  }
}

.recent-posts {
  position: relative;

  & > .wrapper {
    display: flex;
    overflow-x: auto;
    gap: 30px;

    &.has-scroll {
      &::before, &::after {
        content: '';
        position: absolute;
        //background: yellow;
        height: 100%;
        top: 0;
        transition: opacity .5s;
        /*opacity: 0;*/
        /*opacity: 1;*/
        width: 30px;
      }

      &.scrolled::before {
        left: 0;
        /*#121212*/
        /*background: linear-gradient(to right, black, transparent);*/
        background: linear-gradient(to right, var(--gradient-color), transparent);
        //background: yellow;
        opacity: 1;
        z-index: 1;


        width: 15px;
      }

      &:not(.scrolled-to-an-end)::after {
        right: 0;
        /*background: linear-gradient(to right, transparent, black);*/
        background: linear-gradient(to right, transparent, var(--gradient-color));
        //background: yellow;
        opacity: 1;
      }
    }
  }
}


@mixin clamp($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  //-webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-line-clamp: $lines; /* Number of lines to show */
  overflow: hidden;

}

.recent-post {
  border-radius: 16px;
  //border-radius: 37px;;
  //border: 1px solid green;
  border: 1px solid #eee;
  flex: 1 0 300px;
  position: relative;

  .wrapper {
    //padding: 2rem 1rem calc(2.75rem + 16px); // padding bottom + margin bottom of a "p" tag...
    //padding: 2rem 1rem calc(2.5rem + 32px); // padding bottom + margin bottom of a "p" tag...
    padding: 2rem 1rem calc(2.5rem + 32px); // padding bottom + margin bottom of a "p" tag...
  }

  h2 {
    margin-top: 0;
    @include clamp(2);
  }

  p {
    /* chatgpt solutiion for showing elipsis if text overflows specified amount of lines */
    @include clamp(3);
  }

  .tags {
    position: absolute;
    //bottom: 2.75rem;
    bottom: 2.5rem;
  }
}
