//user-profile-page {
user-profile-component,
post-component {
    display: none;

    &[visible] {
        display: block
    }
}

.post__author {
    display: flex;
    align-items: center;
    gap: 1rem;

    .image-wrapper {
        --size: 48px;

        width: var(--size);
        height: var(--size);
        overflow: hidden;
        border-radius: 50%;
    }

    img {
        height: 100%;
    }
}