.loader {
  --size: 34px;
  --border-width: 5.5px;
  --rotation-speed: 1.35s;

  width: var(--size);
  height: var(--size);
  border: var(--border-width) solid white;
  border-top: var(--border-width) solid transparent;
  border-radius: 50%;
  animation: rotate var(--rotation-speed) infinite linear;
  position: absolute;
  z-index: -1;
}

@keyframes rotate {
  0% {
    transform: rotate(135deg);
  }

  100% {
    transform: rotate(495deg);
  }
}
