*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  color-scheme: var(--currentTheme);
}

// TODO: add ripples only on buttons and links
// style them separately, without this "custom hack"
[ripple-effect] {
  width: fit-content;
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  //  overflow: hidden;
  overflow-x: hidden;
  transition: background-color .5s, color .5s


          //color-scheme: var(--currentTheme);
  //&[currentTheme="dark"] {
  //  color-scheme: dark;
  //}
  //
  //&[currentTheme="light"], &[currentTheme="default"]  {
  //  color-scheme: light;
  //}

  h1 {
    color: green;
    font-size: 4rem;
  }
}

.open-sidebar-button {
  cursor: pointer;
}

p {
  //font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  min-height: 100vh;
  min-height: 240vh;
}

.wrapper {
  padding: 1.25rem 1rem;
}

