@import 'utils-helpers/normalize.css';
@import 'utils-helpers/breakpoints.scss';
@import 'common';
@import 'components/app-bar.scss';
@import 'components/header.scss';
@import 'components/main-navigation.scss';
@import 'components/loader';
@import 'components/old/album-cover';
@import 'components/old/album-detail';
@import 'components/old/available-albums';
@import 'components/old/player';
@import 'components/old/tumbler';
@import 'components/user-profile-page';
@import 'components/recent-posts';


.navigation-menu {

  &.visible {
    .sidebar {
      transform: translateX(0);
    }

    .overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  .overlay {
    position: fixed;
    inset: 0;
    //background: rgba(grey, .6);
    transition-duration: .5s;
    transition-property: opacity, visibility;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }

  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 80%;
    max-width: 300px;
    background: yellow;
    padding: 2rem 1.5rem;
    transform: translateX(100%);
    transition-duration: .5s;

    // &:not(.from-left) {}

    &.from-left {
      transform: translateX(-100%);
      left: 0;
      right: unset;
    }
  }

  .avatar {
    --size: 75px;

    background-color: #eee;
    width: var(--size);
    height: var(--size);
    //margin: 0 auto;

    &.round {
      border-radius: 50%;
    }
  }
}


