@import 'utils-helpers/normalize.css';
@import 'utils-helpers/breakpoints.scss';
@import 'common';
@import 'components/app-bar.scss';
@import 'components/header.scss';
@import 'components/main-navigation.scss';
@import 'components/loader';
@import 'components/album-cover.scss';
@import 'components/album-detail.scss';
@import 'components/available-albums';
@import 'components/player';
@import 'components/tumbler';


.navigation-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 80%;
  max-width: 300px;
  background: yellow;
  padding: 2rem 1.5rem;
  transform: translateX(100%);
  transition-duration: .5s;

  &.visible {
    transform: translateX(0);
  }

  .avatar {
    --size: 75px;

    background-color: #eee;
    width: var(--size);
    height: var(--size);
    //margin: 0 auto;

    &.round {
      border-radius: 50%;
    }
  }
}


